* {
    text-decoration: none;
    list-style: none;
    background-image: url("/src/images/main-bg-img.jpg");
    font-family: 'Crimson Text', serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.background {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-bar {
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    background-color: rgba(24, 24, 24, 0.7);
}

.nav-bar-items {
    display: flex;
}

.nav-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: white;
    font-size: 1.8rem;
    transition: .3s;
}

.nav-bar-item:hover {
    color: orange;
}

.nav-bar-logo {
    margin-right: 15rem;
    transition: .4s;
}

.nav-bar-logo:hover {
    filter: brightness(4) invert(3);
}

.nav-bar-logo-img {
    margin-right: 2rem;
    width: 4rem;
    height: 3rem;
}

.video {
    margin-top: 7rem;
}

.slider {
    display: flex;
}

.vinyl1-img {
    width: 900px;
    height: 750px;
}

.slider-music-info {
    margin-top: 14rem;
    margin-left: 5rem;
    display: inline-block;
}

.content-in-slider {
    /*margin: 2rem;*/
}

.content-in-slider-information {
    color: lightseagreen;
}

.content-in-slider {
    font-size: 21px;
    color: white;
}

.specs-vinyl {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.specs-info-vinyl {
    font-size: 16px;
}

.links {
    display: flex;
    margin-top: 60px;
}

.link-items {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0);
    width: 48px;
    height: 46px;
}

.links-second-row {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-items:hover {
    border-color: #ae804e;
}

.fab, .fa-soundcloud, .fa-music {
    color: white;
}

/*.slider {*/
/*display: flex;*/
/*justify-content: center;*/
/*!*flex-direction: column;*!*/
/*}*/

/*.content-in-slider {*/
/*display: flex;*/
/*color: white;*/
/*font-size: 25px;*/
/*margin-top: 1rem;*/
/*margin-bottom: 1rem;*/
/*}*/

/*.vinyl1-img {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*!*width: 700px;*!*/
/*height: 500px;*/
/*}*/

/*.slider-music-info {*/
/*display: flex;*/
/*justify-content: center;*/
/*flex-direction: column;*/
/*margin-left: 3rem;*/
/*}*/

/*.content-in-slider-information {*/
/*color: lightseagreen;*/
/*padding-left: 10px;*/
/*}*/

.singles-title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.singles-items {
    display: flex;
    justify-content: space-around;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
}

.single-item {
    background-image: url("../images/single-testt.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    margin: 4rem;
    width: 200px;
    height: 150px;
}

.yarik-img {
    text-align: center;
    margin-left: .7rem;
    float: left;
    width: 500px;
    height: 500px;
}

.about-items {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: orange;
    text-align: left;
}

.about-title {
    font-size: 70px;
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.mockups {
    margin-top: 3rem;
}

.mockups-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mockups-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockups-item-mac {
    background-image: url("../images/mockup-mac-book.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.mockups-item-example {
    background-image: url("../images/devices-set.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.mockups-item-example, .mockups-item-mac {
    margin: 20px;
}

.footer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: gray;
}

.footer-items {
    display: flex;
}

.footer-filling {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}








@media screen and (max-width: 415px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }

    .nav-bar-logo {
        margin-right: 3rem;
    }

    .nav-bar-items {
        position: fixed;
        overflow: hidden;
        clear: both;
        display: none;
    }

    .nav-bar {
        position: fixed;
        padding-left: 2rem;
    }

    .burger {
        margin-right: 2rem;
    }

    .bar1 {
        box-sizing: border-box;
        border-radius: 10px;
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.3s;
        transform-origin: center;
    }

    .bar2, .bar3 {
        box-sizing: border-box;
        border-radius: 10px;
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: .3s;
        transform-origin: center;
    }

    .change .bar1 {
        -webkit-transform: rotate(-50deg) translate(-5px, 6px);
        transform: rotate(-50deg) translate(-5px, 6px);
        transform-origin: center;
    }

    .change .bar2 {
        opacity: 0;
        transform-origin: center;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
        transform-origin: center;
    }

    .cursor {
        cursor: pointer;
    }

    .vinyl1-img {
        width: 300px;
        height: 200px;
    }

    .slider {
        margin-left: 1rem;
        display: inline-block;
        text-align: left;
    }

    .slider {
        display: flex;
        justify-content: center;
    }

    .content-in-slider {
        display: flex;
        color: white;
        font-size: 25px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .vinyl1-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .content-in-slider-information {
        color: lightseagreen;
        padding-left: 10px;
    }

    .content {
        width: 320px;
        height: 300px;
        font-size: 4rem;
        margin-bottom: 5rem;
    }

    .singles {
        margin-top: 3rem;
        width: 320px;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .singles-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .singles-title {
        margin-bottom: 2rem;
    }

    .single-item {
        margin: 1rem;
    }

    .yarik-img {
        float: left;
        width: 300px;
        height: 300px;
        align-items: center;
    }

    .about-items {
        display: inline-block;
        text-align: center;
        padding-top: 10px;
    }

    .filling-in-about {
        display: block;
        margin-left: 10px;
    }

    .mockups-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .mockups-item-example, .mockups-item-mac {
        margin: 20px;
    }

    .footer-filling {
        font-size: 16px
    }
}