.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.nav-item {
    margin: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.nav-bar-logo {
    font-size: 40px;
    margin-right: 5rem;
}
